language: php

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4

sudo: false

cache:
  directories:
    - $HOME/.composer/cache
    - vendor


install:
  - travis_retry composer self-update
  - travis_retry composer update --no-interaction --prefer-dist

script:
  - php vendor/bin/phpcs --config-set ignore_warnings_on_exit 1
  - php vendor/bin/phpcs
  - php vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_success:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
